{% extends 'base.html' %}

{% block title %}Наши правила{% endblock %}

{% block content %}
<main>
  <div class="container py-5">                        
    <h1>Наши правила</h1>
    <dl>
      <dt><b>Cамовыражение.</b></dt>
      <dd>У наших пользователей должна быть возможность создать что-то своё, выразить себя, свои мысли и чувства.</dd>
      
      <dt><b>Многообразие.</b></dt>
      <dd>Мы уважаем и приветствуем разные мнения и культуры. Блогикум — это место, объединяющее самых разных людей. Поделитесь своим уникальным взглядом на мир.</dd>
      
      <dt><b>Творчество.</b></dt>
      <dd>Не важно, в какой области вы творите, это может быть литература, дизайн, программирование. Наши инструменты помогут вам раскрыть талант максимально просто и комфортно.</dd>
      
      <dt><b>Личность.</b></dt>
      <dd>Мы сохраним ваши сокровенные мысли в тайне. Делитесь своей информацией только с теми, кого выбрали. Как и насколько засекречивать вашу личную информацию — определяете вы и только вы.</dd>
    </dl>
  </div>
</main>
{% endblock %}
